@font-face {
    font-family: 'Amazon Ember';
    src: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/AmazonEmber_W_Lt._CB513866389_.woff);
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

* {
    font-family: 'Amazon Ember';
    margin: 0;
}

.logo-container {
    height: 45px;
    width: 100%;
    background-color: #232f3e;
    box-shadow: 0px 0px 10px 0px grey;
}


.header-logo {
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-2x_optimized_layout1._CB468670774_.png");
    background-position: 0px -55px;
    background-size: 350px;
    padding: 25px 50px;
    margin-left: 10px;
    background-color: #232f3e;
    cursor: pointer;
}

.header-nav {
    float: right;
    color: white;
    line-height: 45px;
    margin-right: 50px;
    cursor: pointer;
}

.container {
    display: flex;
    min-height: calc(100% - 45px);
}

.nav {
    min-width: 200px;
    list-style: none;
    padding: 0;
    background-color: #212529;
}

.nav-item > a {
    display: block;
    text-align: left;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.content-container {
    width: 100%;
    padding: 25px;
}

.title {
    font-size: 25px;
    padding: 20px;
}

.edit, .remove, .check {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0 auto;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    word-break: break-all;
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    padding: 10px;
}

th {
    background: #232f3e;
    color: white;
}

.image {
    display: block;
    width: 100%;
}

.add {
    cursor: pointer;
    width: 20px;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}