@font-face {
    font-family: 'Amazon Ember';
    src: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/AmazonEmber_W_Lt._CB513866389_.woff);
}

* {
    font-family: 'Amazon Ember';
    margin: 0;
}

.logo-container {
    height: 45px;
    width: 100%;
    background-color: #232f3e;
    box-shadow: 0px 0px 10px 0px grey;
}

.nav {
    float: right;
    color: white;
    line-height: 45px;
    margin-right: 50px;
    cursor: pointer;
}

.header-logo {
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-2x_optimized_layout1._CB468670774_.png");
    background-position: 0px -55px;
    background-size: 350px;
    padding: 25px 50px;
    margin-left: 10px;
    background-color: #232f3e;
    cursor: pointer;
}

.header-prime-content {
    width: 500px;
    margin: 0 70px;
    height: inherit;
}

.header-prime-container {
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Header_01._CB513133335_.png");
    background-color: #0079b4;
    width: 1300px;
    height: 375px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 32px 0 32px 0;
    margin: 0 auto;
    color: white;
}

.prime-logo {
    width: 80px;
    position: absolute;
    top: 390px;
}

.header {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 22px;
    font-family: Arial;
}

.sub-header {
    font-size: 22px;
    margin-bottom: 22px;
    width: 400px;
    line-height: 25px;
    font-weight: 500;
}

.prime {
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/StaticBlade_PrimeDelivery_01._CB513143338_.png");
    background-size: auto 360px;
    background-repeat: no-repeat;
    background-position: top center;
    height: 360px;
    padding-top: 45px;
    width: 1300px;
    margin: 0 auto;
    color: white;
    position: relative;
    top: -50px;
}

.prime-container {
    width: 500px;
    padding: 40px 40px 40px 60px;
}

.prime-title {
    width: 1200px;
    margin: 0 auto;
    color: #002F36;
    text-align: left;
    font-size: 28px;
    font-weight: 300;
    position: relative;
    top: -50px;
}

.prime-container > .head {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;
    width: 500px;
    line-height: 48px;
    padding: 0;
}

.prime-container > .body {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 20px;
    width: 420px;
}

.prime-container > .link > span {
    background-size: 135px;
    background-repeat: no-repeat;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png");
    background-position: 10px -199px;
    width: 15px;
    position: absolute;
    bottom: 107px;
    display: inline-block;
    margin: 0;
}

.video {
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/StaticBlade_PrimeVideo_01._CB457666323_.png");
    background-size: auto 360px;
    background-position: top center;
    height: 360px;
    padding-top: 0;
    color: #002F36;
    top: 0;
}

.video > .prime-container > .link > span {
    position: absolute;
    width: 5px;
    height: 350px;
    bottom: -298px;
    display: inline-block;
    vertical-align: middle;
    background-position: -5px -188px;
    margin: 0 6px;
    background-size: 128px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png");
}

.try {
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/FinalCTA_01._CB515489489_.jpg");
    background-position: inherit;
    height: 400px;
    margin-top: 40px;
    position: relative;
    left: -50px;
    top: auto;
}

.try > .container {
    width: 380px;
    margin: 0 auto;
    text-align: center;
}

.try > .container > .head {
    font-size: 28px;
    font-weight: 300;
    margin: 0 auto 30px;
    line-height: 36px;
    width: 340px;
    color: #002F36;
}

.button {
    background: #ffa724;
    border-color: #ff6138;
    color: #111;
    height: inherit;
    border-radius: 2px;
    box-shadow: none;
    height: 50px;
    width: 300px;
    margin: 0 auto;
    font-weight: bold;
    color: #284d40;
    text-transform: uppercase;
    font-size: 18px;
    font-family: arial;
    cursor: pointer;
}

.try > .container > .link {
    color: #0066c0;
    font-size: 12px;
    margin-top: 20px;
}

.try > .container > .link > a {
    color: #0066c0;
}

footer {
    height: 45px;
    width: 100%;
    background-color: #232f3e;
    box-shadow: 0px 0px 10px 0px grey;
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 12px;
}

.form {
    order-radius: 5px;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 30px;
    margin-top: 50px;
}

#title {
    color: #111;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.inputText {
    width: 100%;
    height: 40px;
    padding: 7px;
    border: 1px solid #cac9c9;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 15px;
}

input[type=text], input[type=password] {
    background-color: #fff;
    box-sizing: content-box;
    height: 18px;
    border: 0;
    width: 100%;
}

#button {
    margin-top: 40px;
}

.text {
    font-size: 13px;
    font-weight: 600;
    margin-left: 2px;
    margin-bottom: 5px;
}