.main {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: -150px;
}

.main-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.card {
    margin: 3px;
    width: 150px;
    height: 210px;
    background-size: contain;
    cursor: pointer;
    position: relative;
}

.clicked {
    background-size: contain;
    width: 200px;
    height: 260px;
    margin: -3px;
    z-index: 1;
}

.leftShadow {
    box-shadow: -60px 0px 100px -50px #000000;
}

.rightShadow {
    box-shadow: 60px 0px 100px -50px #000000;
}

.allShadow {
    box-shadow: -60px 0px 100px -50px #000000, 60px 0px 100px -50px #000000;
}

.card-title {
    position: absolute;
    bottom: 40px;
    color: white;
    width: inherit;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: arial;
}

.main-carousel-container {
    display: flex;
}

.main-carousel-content {
    width: 1050px;
    height: 328px;
    overflow: hidden;
}

.main-carousel-item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -40px;
    width: 1050px;
    height: 328px;
    display: inline-block;
    vertical-align: top;
}

.main-carousel-item-content {
    width: 50%;
    max-width: 480px;
    margin-left: 50%;
}

.main-carousel-item-content > .title-container {
    margin: 0px 0 20px;
}

.main-carousel-item-content > .title-container > .title {
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}

.main-carousel-item-content > .head {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-carousel-item-content > .body {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-carousel-item-content > .link > a {
    font-size: 18px;
    color: #002F36;
    font-weight: bold;
    text-decoration: none;
}

.main-carousel-item-content > .link > a:hover {
    text-decoration: underline;
}

.main-carousel-control {
    margin: auto;
}

.main-prev {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png);
    background-size: 155px auto;
    background-position: 105px 0px;
    cursor: pointer;
    overflow: hidden;
    width: 55px;
    height: 50px;
    display: inline-block;
    border: 0 !important;
}

.main-prev:focus {
    outline: none;
}

.main-next {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png);
    background-size: 155px auto;
    background-position: 105px -102px;
    cursor: pointer;
    overflow: hidden;
    width: 55px;
    height: 50px;
    display: inline-block;
    border: 0 !important;
}

.main-next:focus {
    outline: none;
}

.card-indicator-container {
    visibility: hidden;
}

.selected {
    width: 100%;
    position: absolute;
    bottom: 15px;
    visibility: visible;
}

.card-indicators {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.indicator {
    flex: none;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/detail_page/Sprites_2x._CB493761273_.png);
    -moz-background-size: 158px auto;
    background-size: 158px auto;
    background-position: -22px -232px;
    width: 10px;
    height: 10px;
    margin: 0 2.5px;
    cursor: pointer;
}

.pushed {
    background-position: -12px -232px;
}

