<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="module" src="javascripts/admin.js" defer></script>
    <link rel="stylesheet" href="stylesheets/admin.css">
    <title>Title</title>
</head>
<body>
<header><span>Amazon Admin</span></header>
<div class="container">
    <ul class="nav">
        <li class="nav-item"><a href="#user">user</a></li>
        <li class="nav-item"><a href="#category">category</a></li>
        <li class="nav-item"><a href="#mini_carousel">mini_carousel</a></li>
        <li class="nav-item"><a href="#main_carousel">main_carousel</a></li>
        <li class="nav-item"><a href="#test">test</a></li>
    </ul>
    <table class="content"></table>
</div>
</body>
</html>