<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon.com: Admin</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/oJD3TNB.png"/>
    <script type="module" src="javascripts/admin.js" defer></script>
    <link rel="stylesheet" href="stylesheets/admin.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="logo-container">
        <span onclick="location.href='/'" class="header-logo">&nbsp;</span>
        <span onclick="location.href='/logout'" class="header-nav" >logout</span>
        <span onclick="location.href='/admin'" class="header-nav" >admin</span>
    </div>
</header>
<div class="container">
    <ul class="nav">
        <li class="nav-item"><a href="#user">user</a></li>
        <li class="nav-item"><a href="#category">category</a></li>
        <li class="nav-item"><a href="#mini_carousel">mini_carousel</a></li>
        <li class="nav-item"><a href="#main_carousel">main_carousel</a></li>
        <li class="nav-item"><a href="#test">test</a></li>
    </ul>
    <div class="content-container">
        <div class="title"></div>
        <table class="content"></table>
    </div>
</div>
</body>
</html>