<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon.com: Amazon Prime</title>
    <script type="module" src="javascripts/index.js" defer></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/oJD3TNB.png"/>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
<header>
    <div class="logo-container">
        <span onclick="location.href='/'" class="header-logo">&nbsp;</span>
    </div>
</header>
<div class="form">
    <div id="title">Sign-In</div>
    <div class="text">ID</div>
    <div class="inputText">
        <input type="text" name="id" class="element" id="id">
    </div>
    <div class="text">PASSWORD</div>
    <div class="inputText">
        <input type="text" name="pw" class="element" id="pw">
    </div>
    <div id="button">
        <input type="button" class="button" id="submit" value="sign-in">
    </div>
</div>
</body>
</html>